

.inner{
    color: #6699ff;
    
}


del {
    color: rgb(255, 0, 0);
  
}
ion-icon{
    color: red;
    font-size: 1.2em;
}

ion-icon:hover{
    font-size: 1.1em;
}

div{
    border-bottom: 0.2px rgb(199, 199, 199) solid;
   margin-top:4px
}

@media only screen and (max-width: 377px) {

    div{
        /* border: gray 1px solid; */
        border-bottom: none;
    }

    .row{
        border: 1px gray solid;
        margin-bottom: 30px;
    }

    .icon-box{
       
        text-align: center;
       
    }

    .text-box{
        border-bottom: 1px gray solid;
    }

}